module.exports = {
  up: (queryInterface, DataTypes) =>
    queryInterface.changeColumn('{{ tableName }}', '{{ columnName }}', {
      type: DataTypes.,
    }),

  down: (queryInterface, DataTypes) =>
    queryInterface.changeColumn('{{ tableName }}', '{{ columnName }}', {
      type: DataTypes.,
    }),
};
