const validationRegex = require('@eumentis-cloud/js-validation-regex');

module.exports = (sequelize, DataTypes) => {
  const {{ modelName }} = sequelize.define(
    '{{ modelName }}',
    // Fields
    {

    },
    // Options
    {
      timestamps: true,
      createdAt: true,
      updatedAt: true,
      deletedAt: true,
      paranoid: true,
      tableName: '{{ tableName }}',
      // defaultScope: {},
      // scopes: {},
      // comment: '',
      // hooks: {},
    },
  );

  {{ modelName }}.associate = (models) => {};

  return {{ modelName }};
};
